.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DateRangePicker.css */
.date-range-picker-container input[type="date"] {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

/* Highlight weekdays */
.date-range-picker-container input[type="date"]:not(.weekend) {
  background-color: #e0e0e0;
}

/* Disable weekends */
.date-range-picker-container input[type="date"].weekend {
  pointer-events: none; /* Disable click events on weekends */
  background-color: #f7f7f7; /* Lighter gray background for weekends */
  color: #999;
}